.container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;
    padding: 10px;
}

.nameInput {
    margin-bottom: 1rem;
}